<h2>Observations Index</h2>

<% @observations.each do |observation| %>
    <p>Observation: <%= link_to observation.name, observation %></p>
    <br>
<% end %>

<br>
<%= link_to "Go Back", user_path(current_user) %>