<h2>Cryptids index page</h2>

<% @cryptids.each do |cryptid| %>
<h3><%= link_to cryptid.name, cryptid %></h3>
<% end %>

<br>
<%= link_to "Order by location", bylocation_path %>

<br>
<%= link_to "Go Back", user_path(current_user) %>